<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo placeholder -->
    <a class="navbar-brand" href="#">
      <img
        src="/homecloud-logo.png"
        alt="Logo"
        height="30"
        class="d-inline-block align-text-top"
      />
    </a>

    <app-breadcrumb
      [path]="currentPath"
      (navigateTo)="openFolder($event)"
    ></app-breadcrumb>

    <!-- User dropdown -->
    <div class="ms-auto">
      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-link dropdown-toggle btn-lg"
          type="button"
          id="userDropdown"
          ngbDropdownToggle
        >
          <i class="fas fa-user-circle fa-lg"></i>
        </button>
        <div
          ngbDropdownMenu
          placement="bottom-right"
          aria-labelledby="userDropdown"
          class="dropdown-menu-right"
        >
          <button ngbDropdownItem (click)="goToSettings()">
            <i class="fas fa-cog"></i> Settings
          </button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="only-mobile-view">
  <app-breadcrumb
    [path]="currentPath"
    (navigateTo)="openFolder($event)"
  ></app-breadcrumb>
</div>

<!-- Secondary Menu Bar -->
<nav
  class="navbar navbar-expand-lg navbar-light bg-white border-bottom secondary-nav-bar"
>
  <div class="container-fluid">
    <div class="d-flex gap-2">
      <button class="btn btn-light" (click)="createFolder()">
        <i class="fas fa-folder-plus"></i> Create Folder
      </button>
      <button class="btn btn-light" (click)="uploadFiles()">
        <i class="fas fa-upload"></i> Upload Files
      </button>
      @if(fileUploadProgress.uploadingStatus === UploadingStatus.UPLOADING) {
      <div class="file-upload-progress-bar">
        <span>Uploading in progress...</span>
        <ngb-progressbar type="info" [value]="fileUploadProgress.progress"
          >{{ fileUploadProgress.currentFileNumber }} of
          {{ fileUploadProgress.totalFiles }}</ngb-progressbar
        >
      </div>
      } @else if(fileUploadProgress.uploadingStatus ===
      UploadingStatus.COMPLETED) {
      <div class="file-upload-progress-bar fade show">
        <span class="text-success">
          <i class="fas fa-check-circle me-2"></i>Upload completed successfully
        </span>
      </div>
      }
    </div>
  </div>
</nav>

<div class="main-container">
  <div class="folder-item-container">
    @if(folderData) { @for(item of folderData.items; track item.name) {
    <div
      class="folder-item"
      (click)="selectItem(item)"
      (dblclick)="openItem(item)"
      [class.selected]="currenItemDetails.name === item.name"
    >
      <img [src]="item.thumbnail" [alt]="item.name" />
      <div class="folder-item-info">
        {{ item.name }}
      </div>
    </div>
    } }
  </div>

  <div class="item-details">
    @if(currenItemDetails) {
    <img [src]="currenItemDetails.thumbnail" [alt]="currenItemDetails.name" />
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td class="fw-bold">Name:</td>
          <td>{{ currenItemDetails.name }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Type:</td>
          <td>{{ currenItemDetails.type }}</td>
        </tr>
        <tr>
          <td class="fw-bold">Size:</td>
          <td>{{ currenItemDetails.size | number }} bytes</td>
        </tr>
        <tr>
          <td class="fw-bold">Last Modified:</td>
          <td>{{ currenItemDetails.lastModified | date : "medium" }}</td>
        </tr>
      </tbody>
    </table>
    @if(currenItemDetails.type === 'directory') {
    <button class="btn btn-warning" (click)="renameFolder()">Rename</button>
    } @else if(currenItemDetails.type === '') {
    <div class="alert alert-info" role="alert">
      <i class="fas fa-info-circle"></i> Move to parent folder to rename this
      Folder
    </div>
    } @else {
    <button class="btn btn-primary" (click)="downloadFile()">Download</button>
    } }
  </div>
</div>

<app-create-folder
  (folderCreated)="onFolderCreated($event)"
></app-create-folder>

@if(currenItemDetails){
<app-rename-folder
  [currentFolderName]="currenItemDetails.name"
  (folderRenamed)="onFolderRenamed($event)"
></app-rename-folder>
}
