:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .dropdown-menu-right {
    transform: translateX(-50%);
  }

  .main-container {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    gap: 1rem;
    height: 0;
    overflow: auto;

    .folder-item-container {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      flex-grow: 1;
      padding: 1rem;

      .folder-item {
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-start;
        gap: 0.5rem;
        padding: 0.5rem;
        box-sizing: border-box;

        img {
          max-width: 100%;
          max-height: 80px;
          object-fit: cover;
        }

        .folder-item-info {
          text-align: center;
          font-size: 0.8rem;
          max-width: 100%;
          text-wrap: wrap;
          max-height: 30px;
          overflow: hidden;
        }

        &:hover {
          cursor: pointer;
          background-color: #f0f0f0;
        }

        &.selected {
          background-color: #bdddff;
        }
      }
    }

    .item-details {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 300px;
      border-left: 1px solid #ccc;
      padding: 1rem;

      img {
        max-width: 100%;
        object-fit: cover;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }
    }
  }

  .only-mobile-view {
    display: none;
    max-width: 100%;
    overflow-x: auto;
    align-items: center;
    padding: 0.5rem 0.25rem;
    height: 2rem;
    min-height: 3rem;
  }

  @media (max-width: 768px) {
    .navbar {
      .container-fluid {
        app-breadcrumb {
          display: none;
        }
      }
    }

    .only-mobile-view {
      display: flex;
    }

    .secondary-nav-bar {
      .container-fluid {
        .d-flex {
          flex-wrap: wrap;

          .file-upload-progress-bar {
            width: 100%;
          }
        }
      }
    }

    .main-container {
      flex-direction: column-reverse;
      .folder-item-container {
        gap: 1rem;
        flex-grow: 1;
        height: 0;
        overflow: auto;
      }

      .item-details {
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid #ccc;
        border-left: unset;
        align-items: center;

        img {
          max-width: 2rem;
          object-fit: cover;
        }

        table {
          width: 50px;
          margin-bottom: 0;

          tbody {
            tr {
              td {
                padding: 0 0.25rem 0 0;
                max-width: 100px;
                overflow: hidden;
              }
              display: none;

              &:first-of-type {
                display: block;
              }
            }
          }
        }

        .alert {
          display: none;
        }
      }
    }
  }
}
